<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Regular Expression Helper</title>
</head>
<body>
    <div id="container">
        <form method="POST">
            <label for="reg">정규식</label>
            <input type="text" name="reg">
            <br>
            <label for="str">문자열</label>
            <input type="text" name="str">
            <br>
            <div>
                <button>실행</button>
            </div>
        </form>
    </div>
</body>
<script type="text/javascript" src="/script.js"></script>
</html>